
		  <div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-files-o"></i> Form Validation</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
						<li><i class="icon_document_alt"></i>Forms</li>
						<li><i class="fa fa-files-o"></i>AddSection</li>
					</ol>
				</div>
			</div>
              <!-- Form validations -->              
              <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              Form validations
                          </header>
                          <div class="panel-body">
                              <div class="form">
                                  <form method="POST" action="/new" class="form-validate form-horizontal" id="feedback_form" >
                                      <div class="form-group ">
                                          <label for="cname" class="control-label col-lg-3"> Name <span class="required">*</span></label>
                                          <div class="col-lg-6">
                                              <input class="form-control" id="cname" name="name" minlength="5" type="text" required />
                                          </div>
                                      </div>
                                                          
                                      <div class="form-group ">
                                          <label for="ccomment" class="control-label col-lg-3">Description</label>
                                          <div class="col-lg-6">
                                              <textarea class="form-control " id="ccomment" name="descr" required></textarea>
                                          </div>
                                      </div>
                                      
                                          <div class="col-lg-offset-3 col-lg-10">
                                              <button class="btn btn-primary" type="submit">submit</button>
                
                                          </div>
                                    
                                  </form>
                              </div>

                          </div>
                      </section>
                  </div>
              </div>
              <!-- page end-->
          