<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-files-o"></i> Form Validation</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
            <li><i class="icon_document_alt"></i>Forms</li>
            <li><i class="fa fa-files-o"></i>Editimages</li>
        </ol>
    </div>
</div>
<!-- Form validations -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Form validations
            </header>
            <div class="panel-body">
                <div class="form">
                    <form method="post" action="/image/{{image._id}}"  class="form-horizontal">


                        <div class="form-group">
                            <label for="cname" class="control-label col-lg-2"> Heading <span class="required">*</span></label>
                            <div class="col-lg-10">
                                <input id="heading" type="text" class="form-control" name="heading" value="{{image.heading}}">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="cname" class="control-label col-lg-2"> Description <span class="required">*</span></label>
                            <div class="col-lg-10">
                                <textarea id="description" name="description" rows="5" class="col-md-12" value="">{{image.description}}</textarea>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="cname" class="control-label col-lg-2"> Photographer <span class="required">*</span></label>
                            <div class="col-lg-10">
                                <input id="photographer" type="tel" class="form-control" name="photographer" value="{{image.photographer}}">
                            </div>
                        </div>



                        <div class="form-group ">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-primary" type="submit">submit</button>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </section>
    </div>
</div>
<!-- page end-->