<!DOCTYPE html>
<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-ui-1.10.2.min.js" type="text/javascript"></script>
	
	
	<link href="/Scripts/Content/bootstrap.min.css" rel="stylesheet">
	<script src="/Scripts/bootstrap.min.js" type="text/javascript"></script>
	
    <style type="text/css">
        
       		
		
		#divimg {
			
			width: 100%;
			height: 100px;
			margin: 10px;
			padding: 10px;
			border: 1px solid black;
		}


        #div1, #div2 {
        float: left;
        width: 100px;
        height: 35px;
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
        }

        #div4 {
        float: left;
        width: 100%;
        height: 100px;
        overflow: auto;
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
        }
        #div3 {
        float: left;
        width: 100%;
        height: 70%;
        overflow: auto;
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
        }

    </style>
    <script type="text/javascript">

        //var $j = jQuery.noConflict();

        


        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));
        }


         $('#console').html('<b>posts[id] = pos:</b><br>');
            
            $('#sortable').children().each(function(i) {
                var id = $(this).attr('data-post-id')
                    ,order = $(this).index() + 1;
                
                // Instead of echoing this, build a real array
                $('#console').html($('#console').html() + 'posts[' + id + '] = ' + order + '<br>');
                
                // Then do an ajax request to send the array
                // Update order fields from posts in db
                /*
                $.ajax('url', {
                    data: //posts array
                });
                */
            });


            $(document).ready(function() {
                 var selDiv = "";
                 selDiv = document.querySelector("#divimg");
                        $("#btnOk").click( function() {
                            alert('button clicked');

                            $('#div4').children().each(function(i) {
                                var id = $(this).attr('id'),
                                    src0 = $(this).attr('src'),
                                    order = $(this).index() + 1;
                                
                                // Instead of echoing this, build a real array
                                $('#console').html($('#console').html() + 'posts[' + id + '] = ' + order  
                                + ' ' + src0 + '<br>');
                                                                      
                                        var html = "<img src=\"" +  $(this).attr('src') + "\" " + " weight = 75px height = 70px" + ">" ;
                                        selDiv.innerHTML += html;               
                                                              
                                //alert(src0);
                            });
                        });
                        
                            
            });
    </script>

    <script>
    var selDiv = "";
        
    document.addEventListener("DOMContentLoaded", init, false);
    
    function init() {
        document.querySelector('#files').addEventListener('change', handleFileSelect, false);
        selDiv = document.querySelector("#divimg");
    }
        
    function handleFileSelect(e) {
        
        if(!e.target.files || !window.FileReader) return;

        selDiv.innerHTML = "";
        
        var files = e.target.files;
        var filesArr = Array.prototype.slice.call(files);
        filesArr.forEach(function(f) {
            //var f = files[i];
            if(!f.type.match("image.*")) {
                return;
            }

            var reader = new FileReader();
            reader.onload = function (e) {
                var html = "<img src=\"" + e.target.result + "\" " + " weight = 75px height = 70px" + ">" ;
                selDiv.innerHTML += html;               
            }
            reader.readAsDataURL(f); 
        });
        
    }
    </script>

    

</head>
<body>
    <butt id="button">Click</input>
    <p id="console"></p>
    
     <h2>Drag and Drop</h2>
    <p>Drag the image back and forth between the two div elements.</p>

    <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
    <img src="img_w3slogo.gif" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
    </div>

    <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

	
	 
	  
	  <form action="#" method="post" enctype = "multipart/form-data">
	  
          Files: <input type="file" id="files" name="files" multiple accept="image/*"><br/>
		
		<br />
         <!-- Trigger the modal with a button -->
  
         <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+</button>

         <div id="divimg"></div>

        <button type="submit" class="btn btn-primary">Submit</button>
		
        <button type="reset" class="btn btn-default">Reset</button>


     </form>
	  <label>--</label>
      <br />
      
  <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog modal-lg" style = "width:100% !important; height:100% !important">
      <div class="modal-content" style = "width:100% !important; height:100% !important" >
        <div class="modal-header" style = "width:100% !important; height:15% !important">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
         
        </div>
        <div class="modal-body" style = "width:100% !important; height: 70%; overfolw: auto;">	
		
			 <div id="div4" ondrop="drop(event)" ondragover="allowDrop(event)">
             </div>
                <div id="div3" ondrop="drop(event)" ondragover="allowDrop(event)">
            
                        
                        {{#each data}}
                                                
                            <img src="{{media}}/{{medialist.articlePreview}}" draggable="true" ondragstart="drag(event)" id="{{medialist.articlePreview}}"  style="width : 75px; height : 70px">         
                                                        
                        {{/each}}
                
                </div>

               
        </div>
	
        <div class="modal-footer" style = "width:100% !important; height:15% !important">
            <button id="btnOk" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  
   

  

</body>
</html>