$BN-WHITE:#fff;
$BN-BLACK:#000;
$BN-PURPLE:#a00057;
$BN-BOX-BGR:#a5c1e0;
$BN-TOPNAV-BGR:#e9e9e9;
$BN-TOPNAV-ACTIVE:#69abf5;
$BN-LOGO-BGR:#010101;
/*$BN-HEADER-BGR:#010101;*/
/*$BN-LEFT-COLUMN-BGR:#e9e9e9;*/
$BN-CAR-READ:#fbfcfd;
$BN-CAR-UNREAD:#f6ebc1;
$BN-CAR-MARKED: #a8c8ec;
$BN-NUM-PAGER:#006599;
$BN-DRD-BGR:#ead5ed;
$BN-COLUMN-BORDER:#b7b5b5;
$BN-DISABLE:#9a9a9a;
$BN-COMEMMENT-BOX-BGR:#F0F7FB;
$BN-COMEMMENT-BORDER-BGR:#4AB7F7;
$BN-COMEMMENT-TEXT:#96bbea;
$BN-COMEMMENT-BTN:#5899e1;
$BN-HOVER-BGR:#616161;
$BN-TOPBAR-GRAY:#CCC;

$BN-FONT-BASE:Helvetica Neue, Helvetica, Arial, sans-serif;