<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Intelligence Light CMS </title>
    <link href="/assets/css/main.css" rel="stylesheet">

</head>

<body class="lci_body">
    <div class="lcy_page_container">
        <header class="lcy_header lcy_display-flex">
            <section class="lcy_header__middle">
                <a href="/" class="lcy_header-logo"> 
                            Light Intelligence CMS
                        </a>
            </section>

        </header>
    </div>

</body>

</html>